html, body {
  font-family: $font-regular;
  color: $color-text;

  *::selection {
    color: $color-white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-accent;
  color: $color-text-heading;
}
