.clients {
  margin: 120px 0 50px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 5);
    margin-bottom: 48px;
  }
}