.contact-us {
  padding-bottom: 30px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__image {
    display: flex;
    position: relative;
    left: 60px;
  }

  .info-heading {
    white-space: nowrap;
  }

  .info-text {
    max-width: 465px;
    margin: 32px 0;
  }

  &--framed {
    position: relative;
    top: -160px;
    padding-bottom: 0;
    margin-bottom: -160px;

    .contact-us__wrapper {
      padding: 55px 40px 60px 75px;
      border: 1px solid #F0F4F8;
      border-radius: 32px;
      background: $color-white;
      box-shadow: 0px 16px 32px rgba(33, 78, 146, 0.08), 0px 2px 8px rgba(33, 78, 146, 0.1);
    }

    .contact-us__image {
      left: 80px;
      width: 55%;
    }
  }

  &:not(.contact-us--framed) {
    background: linear-gradient(180deg, #FFFFFF 44.2%, #F0F7FD 111.94%);
  }

  @include media(mobile) {
    padding-bottom: 100px;

    &__wrapper {
      flex-direction: row;
    }

    &__info {
      margin-bottom: 0;
    }
  }
}