.features-list {
  margin: 40px 0 135px;

  .heading-secondary,
  .text {
    text-align: center;
  }

  .text {
    margin: 24px 0 70px;
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    .numbers-el {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 12px;
      text-align: center;

      span {
        background-color: #F05252;
        box-shadow: 0px 6px 24px rgba(202, 49, 50, 0.32);
      }

      &__inner {
        position: relative;
        margin: 0 15px 0 0;
      }
    }

    .el-bg {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 116px;
      width: 116px;
      border-radius: 50%;
      background-color: rgba($color-red--dark, .04);

      &::before,
      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        top: 18px;
        left: 18px;
        height: 80px;
        width: 80px;
        background-color: rgba($color-red--dark, .08);
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 42px;
        width: 42px;
        border: 1px solid $color-white;
        background-color: transparent;
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      font-size: 22px;
      font-weight: 900;
      color: rgba($color-white, .72);
    }
  }

  &__content {
    font-size: 20px;
    font-family: $font-accent;
    font-weight: 600;
    text-align: left;
    color: $color-text-heading;
  }

  .services-page--red & {
    .numbers-el {
      span {
        box-shadow: 0px 6px 24px rgba(202, 49, 50, 0.32);
      }

      &:nth-child(1n) span {
        background-color: #F9C2C2;
      }
      &:nth-child(2n) span {
        background-color: #F28E8F;
      }
      &:nth-child(3n) span {
        background-color: #E35253;
      }
      &:nth-child(4n) span {
        background-color: $color-red--dark;
      }
    }

    .el-bg {
      background-color: rgba($color-red--dark, .04);

      &::before {
        background-color: rgba($color-red--dark, .08);
      }
    }
  }

  .services-page--green & {
    .numbers-el {
      span {
        box-shadow: 0px 6px 24px rgba(33, 183, 135, 0.32);
      }

      &:nth-child(1n) span {
        background-color: #A3E1CD;
      }
      &:nth-child(2n) span {
        background-color: #75E0BE;
      }
      &:nth-child(3n) span {
        background-color: #46D3A6;
      }
      &:nth-child(4n) span {
        background-color: #21B787;
      }
    }

    .el-bg {
      background-color: rgba(33, 183, 135, 0.04);

      &::before {
        background-color: rgba(33, 183, 135, 0.08);
      }
    }
  }
  .services-page--blue & {
    .numbers-el {
      span {
        box-shadow: 0px 6px 24px rgba(25, 126, 204, 0.32);
      }

      &:nth-child(1n) span {
        background-color: #94CCF7;
      }
      &:nth-child(2n) span {
        background-color: #72BEF9;
      }
      &:nth-child(3n) span {
        background-color: #5AB4F9;
      }
      &:nth-child(4n) span {
        background-color: #2FA2FA;
      }
    }

    .el-bg {
      background-color: rgba(47, 162, 250, 0.04);

      &::before {
        background-color: rgba(47, 162, 250, 0.08);
      }
    }
  }
  .services-page--yellow & {
    .numbers-el {
      span {
        box-shadow: 0px 6px 24px rgba(250, 170, 75, 0.32);
      }

      &:nth-child(1n) span {
        background-color: #F9D9B3;
      }
      &:nth-child(2n) span {
        background-color: #FFD099;
      }
      &:nth-child(3n) span {
        background-color: #FFC37B;
      }
      &:nth-child(4n) span {
        background-color: #FAAA4B;
      }
    }

    .el-bg {
      background-color: rgba(250, 170, 75, 0.04);;

      &::before {
        background-color: rgba(250, 170, 75, 0.08);;
      }
    }
  }

  @include media(500px) {
    .numbers-el__inner {
      margin: 0px 30px 0 16vw;
    }
  }

  @include media(mobile) {
    &__content {
      margin-top: 20px;
      text-align: center;
    }

    &__numbers {
      flex-direction: row;
      align-items: flex-start;

      .numbers-el {
        flex-direction: column;
        width: calc(100% / 4);

        &__inner {
          margin: unset;
        }
      }

      .el-bg {
        height: 136px;
        width: 136px;

        &::before {
          height: 100px;
          width: 100px;
        }

        &::after {
          height: 62px;
          width: 62px;
        }
      }

      span {
        height: 62px;
        width: 62px;
        font-size: 32px;
      }
    }
  }
}