.section-with-text {
  &__inner {
    display: flex;
    flex-direction: column;

    &--text-right {
      flex-direction: column;
    }

    &--text-left {
      .col--images {
        width: 100%;
        max-width: 700px;

        // .col--text__image:not(.col--text__image-in-row) {
          // position: relative;
          // right: -100px;
        // }
      }
    }

    .col--images {
      margin-top: 30px;
    }

    .heading-secondary {
      margin-bottom: 24px;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.col--text {
      width: 100%;

      ul li {
        position: relative;
        padding-left: 48px;
        margin-bottom: 32px;
        font-weight: 600;
        color: $color-text-heading;

        &::before {
          content: '';
          position: absolute;
          top: -6px;
          left: 0;
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: rgba(240, 82, 82, 0.08);
        }

        &::after {
          content: '';
          position: absolute;
          top: 2px;
          left: 8px;
          width: 16px;
          height: 16px;
          border: 1px solid #FDFEFF;
          border-radius: 50%;
          background-color: #F05252;
          box-shadow: 0px 4px 8px rgba(240, 82, 82, 0.32)
        }
      }
    }
  }

  .container {
    position: relative;
    z-index: 10;
  }

  .col--text__text {
    strong, b {
      color: $color-text-heading;
      font-weight: 500;
    }

    a {
      font-weight: 500;
    }
  }

  .col--images__rows {
    position: relative;
    display: flex;
    flex-direction: column;

    .image {
      border-radius: 32px;
      overflow: hidden;
    }

    .row {
      display: flex;
      flex-direction: column;

      &:last-of-type .col--text__image:last-of-type {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 11px;
          left: 16px;
          z-index: -1;
          width: 100%;
          height: 100%;
          border: 1px solid #072A3D;
          border-radius: 32px;
        }
      }

      .col--text__image {
        margin-bottom: 30px;

        &:nth-child(2) {
          align-self: flex-end;
        }
      }
    }
  }

  .col--text__image--small {
    border-radius: 32px;


    &:first-of-type {
      width: 310px;
    }
    &:nth-of-type(2) {
      width: 200px;
    }
    &:nth-of-type(3) {
      width: 225px;
    }
    &:last-of-type {
      width: 264px;
    }
  }

  &__text {
    p:not(:last-of-type) {
      margin-bottom: 45px;
    }
  }

  .services-page--blue & {
    .col--text__text a {
      color: $color-blue;
      font-weight: 600;
    }
  }
  .services-page--green & {
    .col--text__text a {
      color: $color-green;
    }
  }
  .services-page--yellow & {
    .col--text__text a {
      color: $color-yellow;
    }
  }
  .services-page--red & {
    .col--text__text a {
      color: $color-red;
    }
  }

  @include media(500px) {
    .col--images__rows {
      .row {
        display: flex;
        flex-direction: row;

        &:first-of-type {
          position: relative;

          .col--text__image:last-of-type {
            position: relative;
            top: 20px;
            align-self: flex-end;
          }
        }

        &:last-of-type .col--text__image:last-of-type {
          position: relative;
          top: 30px;
        }

        &:not(:last-of-type) {
          margin-bottom: 40px;
        }

        .col--text__image:not(:last-of-type) {
          margin-right: 48px;
        }
      }
    }
  }

  @include media(mobile) {
    .col--images__rows {
      margin-left: auto;
    }

    &__inner {
      flex-direction: row;

      &--text-right {
        flex-direction: row-reverse;

        .col--images {
          margin-right: auto;
          margin-left: 70px;
          padding-right: 30px;
        }
      }
    }

    &__col {
      &.col--text {
        max-width: 455px;
      }
    }

    .col--images__rows {
      top: -30px;
    }
  }
}