.section-with-text {
  &__inner {
    display: flex;

    &--text-right {
      flex-direction: row-reverse;
    }

    .col--text__heading {
      margin-bottom: 24px;
    }

    .col--text__text {
      strong, b {
        color: $color-text-heading;
        font-weight: 500;
      }

      a {
        font-weight: 500;
      }
    }

    &--text-right {
      .col--image {
        margin-right: 190px;
      }
    }
    &--text-left {
      .col--image {
        width: 100%;
        max-width: 700px;

        .col--text__image {
          position: relative;
          right: -100px;
        }
      }
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.col--text {
      width: 100%;
      max-width: 455px;

      ul li {
        position: relative;
        padding-left: 48px;
        margin-bottom: 32px;
        font-weight: 600;
        color: $color-text-heading;

        &::before {
          content: '';
          position: absolute;
          top: -6px;
          left: 0;
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: rgba(240, 82, 82, 0.08);
        }

        &::after {
          content: '';
          position: absolute;
          top: 2px;
          left: 8px;
          width: 16px;
          height: 16px;
          border: 1px solid #FDFEFF;
          border-radius: 50%;
          background-color: #F05252;
          box-shadow: 0px 4px 8px rgba(240, 82, 82, 0.32)
        }
      }
    }
  }

  .services-page--blue & {
    .col--text__text a {
      color: $color-blue;
      font-weight: 600;
    }
  }
  .services-page--green & {
    .col--text__text a {
      color: $color-green;
    }
  }
  .services-page--yellow & {
    .col--text__text a {
      color: $color-yellow;
    }
  }
  .services-page--red & {
    .col--text__text a {
      color: $color-red;
    }
  }
}