.page-header {
  position: relative;
  z-index: 1000;
  width: 100%;
  background-color: transparent;

  &__logo {
    display: flex;
    flex-shrink: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__nav {
    display: none;

    .nav-list {
      display: flex;
      padding: 40px 46px 40px 0;
    }
  }

  .nav-el {
    &:not(:first-child) {
      margin-left: 48px;
    }

    &__link {
      position: relative;

      &.nuxt-link-active .link-text {
        position: relative;
        color: $color-red;

        &::before {
          top: -38px;
        }
      }
    }

    &__submenu {
      position: relative;

      .link-text {
        padding-bottom: 20px;
      }
    }
  }

  .link-text {
    position: relative;
    font: {
      size: 16px;
      family: $font-accent;
      weight: 600;
    }
    color: $color-text-heading;
    cursor: pointer;
    transition: .2s;

    &--submenu {
      padding-right: 16px;

      &::after {
        content: url(~assets/static/icons/icon_arrow.svg);
        position: absolute;
        top: 7px;
        right: -7px;
        transform: rotate(180deg);
        line-height: 3px;
        transition: .3s;
      }

      &-opened::after {
        transform: none;
      }
    }

    &.nuxt-link-active {
      color: $color-red;

      &::before {
        top: -38px;
      }
    }
  }

  .button:not(.button--menu) {
    display: none;
  }

  .button--menu {
    margin: 0 0 0 auto;
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000099;
    transform: translateY(-160px);
    background-color: $color-white;
    box-shadow: 0px 16px 32px rgba(33, 78, 146, 0.08), 0px 2px 8px rgba(33, 78, 146, 0.1);
  }

  &--ready {
    transition: transform .4s;
  }

  &--visible {
    transform: translateY(0);
  }

  @include media(mobileXS) {
    .button:not(.button--menu) {
      display: flex;
    }

    .button--menu {
      margin: 0 20px 0 auto;
    }
  }

  @include media(tablet) {
    &__wrapper {
      justify-content: space-between;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__nav {
      display: block;
    }

    .button--menu {
      display: none;
    }

    .link-text {
      &::before {
        content: '';
        position: absolute;
        top: -43px;
        left: 50%;
        transform: translateX(-50%);
        width: 32px;
        height: 4px;
        border-radius: 0px 0px 3px 3px;
        background-color: $color-red;
        transition: .2s;
      }
    }
  }
}