.about-us-page {
  .hero-primary {
    margin-top: -97px;
    padding: 187px 0 230px;
    background: url(~assets/static/images/about-us/about-bg.svg) center center no-repeat;
    background-size: cover;
  }
  .hero__text {
    margin-top: -20px;
  }

  .numbers {
    top: -280px;
    padding-bottom: 60px;
    margin-bottom: -280px;
  }

  .section-with-text__col {
    &.col--image {
      margin-top: 20px;
    }
  }

  .features-list {
    margin: 40px 0 70px;
  }

  @include media(mobile) {
    .hero__text {
      .hero-text {
        max-width: 524px;
      }
    }
    .numbers {
      padding-bottom: 130px;
    }

    .features-list {
      margin: 130px 0 100px;
    }

    .section-with-text__col {
      &.col--text {
        max-width: 480px;
      }
    }
  }
}