.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000991001;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $color-white;

  &__inner {
    max-width: 570px;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin: 38px 0 85px;
  }

  &__header {
    margin-bottom: 105px;

    .heading-secondary {
      margin-bottom: 18px;
    }

    .text {
      max-width: 450px;
      margin: 0 auto;

      a {
        font-weight: 600;
        color: $color-red;
      }

      &:last-child {
        margin-top: 18px;
      }
    }
  }

  &__form {
    fieldset {
      display: flex;
      flex-direction: column;
      margin: 0 auto 24px;

      .field-inline {
        display: flex;

        label {
          cursor: pointer;
        }

        .text {
          max-width: 365px;
          margin-left: auto;
        }
      }

      label {
        margin-bottom: 8px;

        .label-flex {
          display: flex;
        }
      }

      input:not([type="file"]),
      textarea {
        width: 100%;
        border: 1px solid #E1E9F0;
        border-radius: 8px;
        padding: 16px;
        font-size: 16px;

        &::placeholder {
          font-size: 16px;
          color: #8F929E;
        }
      }

      textarea {
        min-height: 160px;
        resize: vertical;
      }

      input[type="file"] {
        display: none;
      }
    }

    .copy {
      margin: 30px auto 35px;
      font-size: 12px;
      line-height: 17px;

      a {
        font-weight: 600;
        color: $color-red;
      }
    }

    .text-accent {
      display: flex;
      align-items: center;
      max-width: 190px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      color: $color-red;

      span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      img {
        margin-right: 5px;
      }
    }

    .btn-remove-file {
      position: relative;
      top: 3px;
      left: 3px;
      height: 12px;
      width: 12px;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        height: 2px;
        width: 11px;
        border-radius: 20px;
        background-color: $color-red;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    .heading-3 {
      margin-bottom: 40px;
    }

    .subject-picker {
      display: flex;
      justify-content: center;
      margin-bottom: 105px;

      input:checked + .label__inner {
        border-color: #4399FF;
        color: #4399FF;
        background-color: #F4F9FF;
      }

      .label {
        margin: 0 15px;
        cursor: pointer;

        &__inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 168px;
          height: 168px;
          border: 2px solid #E1E9F0;
          border-radius: 20px;
          font-size: 20px;
          font-weight: 600;
          line-height: 22px;
          color: #404966;
          background: #fff;
          user-select: none;
          transition: .2s;

          span {
            margin-top: 10px;
          }
        }
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  .nav-btn {
    cursor: pointer;
  }

  &--project {
    background-color: rgba(10, 42, 60, 0.24);

    .nav-btn--close {
      position: absolute;
      top: 50px;
      right: 50px;
    }

    .modal__inner {
      position: fixed;
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 1100px;
      min-height: 400px;
      padding: 24px 24px 56px;
      border-radius: 32px;
      background-color: $color-white;
    }

    .badge-list {
      position: absolute;
      bottom: 40px;
      left: 40px;
    }

    .main-link-heading {
      position: absolute;
      bottom: 60px;
      left: 40px;
      color: $color-white;
    }

    .modal__text {
      margin-top: 32px;
    }

    .text-modal {
      h1 {
        @extend .heading-3;
      }

      h2 {
        @extend .heading-4;
      }

      a {
        @extend .text--semibold;
        color: $color-blue;
      }

      strong,
      b {
        @extend .text--bold;
      }
    }

    .modal__image {
      position: relative;
      height: 360px;
      width: 100%;
      border-radius: 24px;
      overflow: hidden;

      * {
        z-index: 100;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .48);
      }
    }
  }
}