.page-footer__columns {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 130px;

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 16px;
    color: $color-text-footer;

    &-heading {
      margin-bottom: 24px;
      font-family: $font-accent;
      font-weight: 600;
      font-size: 24px;
      color: $color-text-heading;
    }

    .list-el {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 32px;
      }

      &__text {
        p {
          margin-bottom: 20px;
          line-height: 160%;
          color: $color-gray--light;

          strong,
          a {
            color: $color-text-footer;
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 60px;
    width: 225px;
    height: 195px;
    display: flex;
    margin-top: -90px;
    margin-left: -40px;
    background: url(~assets/static/images/footer/footer_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::before {
    content: url(~assets/static/images/footer/footer_2.svg);
    position: absolute;
    right: -20px;
    bottom: -210px;
  }

  @include media(mobile) {
    flex-direction: row;

    .column {
      max-width: 270px;
      align-items: flex-start;

      .list-el {
        text-align: left;
      }

      &:not(:last-child) {
        margin-right: 80px;
        margin-bottom: 0;
      }
    }
  }

  @include media(tablet) {

    &::after {
      flex-shrink: 0;
      position: relative;
      top: unset;
      right: -20px;
      bottom: -25px;
      width: 305px;
      height: 295px;
    }
  }
}